<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="A chatbot to help improve accessibility to consumable online learning courses provided by IBM.">
        <link rel="icon" href="/static/assets/images/sword.ico">
        <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/assets/css/stylesheet.css" rel="stylesheet">
        <link href="/static/assets/css/Web/fonts.css" rel="stylesheet">
        <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/assets/js/script.js"></script>
        <script src="/static/assets/js/jquery-3.7.1.min.js"></script>
        <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    </head>
    <body>
        {% block page %}{% endblock %}
    </body>
</html>