{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<h1>
    IBM<br>
    <span class="blue">SkillsGuild</span>
</h1>
<div style="width: 80%; margin-top: 20px;">
    <p>
        Discover the future of online education using IBM's <a href="https://skillsbuild.org/">SkillsBuild</a>
    </p>
</div>
<div style="width: 80%; margin-left: auto; margin-right: 0;">
    <p>
        Discover your future in tech - for free
        using IBM's innovative online teaching to
        power your future with job skills, courses
        and credentials
    </p>
</div>
<div class="line"></div>
<div style="width: 80%; margin: 6% auto;">
    <h3 class="text-center">
        What does <i>your</i> future look like?
        Let's find out together
    </h3>
</div>
{% endblock %}