{% extends "layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h1>
    IBM<br>
    <span class="blue">SkillsGuild</span>
</h1>
<div class="line" style="margin-top: 25px; margin-bottom: 25px;"></div>
<h2 class="blue" style="text-align: right;">Sign Up</h2>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="list-unstyled">
            {% for message in messages %}
                <li class="alert alert-{{ message[1] }}">{{ message[0] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form method="post" action="{{ url_for('trysignup') }}">
    <div class="form-group">
        <label class="form-label" for="username">Username</label>
        <input type="text" class="form-box" id="username" name="username" required>
    </div>
    <div class="form-group">
        <label class="form-label" for="password">Institution</label>
        <input type="password" class="form-box" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block form-button">Sign Up</button>
</form>
{% endblock %}